
<div class="container">
    <div>
        <table-component>
            <div class="table-component-search line">
                <button class="addDatabase btn primary icon ml10 mr5 line" (click)="newInterface()" authority="authority.object.addInterface">
                    <i class="icon iconfont mr5 icon-ico_add"></i><span>创建接口</span>
                </button>
                <button class="btn mr5" (click)="importResource()" authority="authority.object.importInterface">导入</button>
                <button class="btn mr5" (click)="exportResource()" authority="authority.object.exportInterface">导出</button>
                <a [attr.href]="exportResourceTemplate()" authority="authority.object.exportInterfaceModal">
                    <button class="btn mr15">
                    导出模板
                    </button>
                </a>
                <div  class="input-icon" position="left">
                    <i class="icon iconfont icon-ico_search_textfield"></i>
                    <input type="text" class="input" #search [(ngModel)]="keyWord" (keyup.enter)="getInterfaceList(1)" placeholder="支持名称、接口地址">
                </div>
                <button class="back line btn ml5" (click)="getInterfaceList(1)">搜索</button>
            </div>
            <div class="table-component-title">
                <span class="title">
                    <i class="iconfont icon-ico_datasource mr8"></i>接口列表
                </span>
                <span class="record">共{{totalcount}}条记录</span>
            </div>
            <thead class="table-component-thead">
            <tr>
                <th width="15%">接口名称</th>
                <th width="15%">接口地址</th>
                <th width="15%">所属系统</th>
                <th width="15%">创建人</th>
                <th width="15%">创建时间</th>
                <th width="15%">状态</th>
                <th width="10%">操作</th>
            </tr>
            </thead>
            <tbody class="table-component-tbody">
                <tr *ngFor="let itf of interfaces;let i=index;">
                    <td>{{itf.name}}</td>
                    <td>{{itf.url}}</td>
                    <td>{{changeToName(itf.ownSystemId)}}</td>
                    <td>{{itf.createrCnname}}</td>
                    <td>{{itf.createTime}}</td>
                    <td>{{itf.status === 0 ? '正常' : '注销'}}</td>
                    <td>
                        <button class="btn icon only" tooltip="查看" position="top" (click)="detailClick(itf)">
                            <i class="icon iconfont icon-ico_view"></i>
                        </button>
                        <button class="btn icon only" tooltip="编辑" position="top" (click)="updateClick(itf)" authority="authority.object.importInterface">
                            <i class="icon iconfont icon-ico_edit"></i>
                        </button>
                        <button class="btn icon only" tooltip="删除" position="top" (click)="deleteClick(itf)" authority="authority.object.importInterface">
                            <i class="icon iconfont icon-ico_delete"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot class="table-component-tfoot">
            <tr *ngIf="totalcount === 0">
                <td colspan="7">暂无数据...</td>
            </tr>
            </tfoot>
            <div class="table-component-page">
                <multi-pagination-component [pagenow]="pagenow" [pagesize]="pagesize" [totalcount]="totalcount" (onPageChange)="doPageChange($event)"></multi-pagination-component>
            </div>
        </table-component>
    </div>
</div>

