.container {
    width: 700px;
    .textarea{
        box-sizing: border-box;
        width:100%;
    }
    .choose {
        padding: 15px 15px 15px 0;
        >span {
            margin-right: 6px;
            cursor: pointer;
            &.checkbox {
                position: relative;
                margin-left: 30px;
                .check-input {
                    position: absolute;
                    display: inherit;
                    width: 100%;
                    height:100%;
                    z-index: 999;
                    opacity: 0;
                    cursor: pointer;
                    margin-right: 10px
                }
                label {
                    vertical-align: middle;
                    position: relative;
                    margin-right: 4px;
                    top: -2px;
                }
            }
        }
        .checkbox {
            position: relative;
            check-input {
                position: absolute;
                display: inherit;
                width: 100%;
                height:100%;
                z-index: 999;
                opacity: 0;
                margin-right: 10px
            }
            label {
                vertical-align: middle;
                position: relative;
                margin-right: 4px;
                top: -1px;
            }
        }
    }
}
