@import 'frontend-common/assets/styles/variable.scss';
@import 'assets/styles/variable.scss';
.container {
    padding: 0;
    .search-bar {
        .date-box {
            position: relative;
            i.iconfont {
                position: absolute;
                right: 6px;
                top: 6px;
                display: inline-block;
                transition: $transitionAll;
                transform: rotate(0);
                color: #bcd;
            }
            > span {
                font-size: 14px;
                color: #333;
            }
            .input {
                width: 150px;
                //&:active + i {
                //    color: #4499EE;
                //    transform: rotate(-180deg);
                //}
            }
            &:hover {
                i.iconfont {
                    color: #4499EE;
                    transform: rotate(-180deg);
                }
            }
            .error {
                position: absolute;
                left: 68px;
                bottom: -16px;
                font-size: 12px;
                color: #FF3333;
            }
        }
        .select {
            > span {
                font-size: 14px;
                color: #333;
            }
            .select-box {
                display: inline-block;
                width: 150px;
            }
        }
    }
}
