@import 'assets/styles/global.scss';
.container {
    width: 635px;
    padding: 25px 0;
    height:240px;
    .row {
        margin-bottom: 25px;
        &:last-child {
            margin: 0;
        }
        .organize {
            li {
                display: inline-block;
                float: left;
            }
        }
        li {
            &:first-child {
                margin-right: 10px;
            }
            // 必填项设置
            .required-content {
                width: calc(100% - 10px);
                display: inline-block;
                padding-left: 10px;
                position: relative;
                .required-red {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -7px;
                    &.invisible {
                        visibility: hidden;
                    }
                }
                .required-label {
                    position: absolute;
                    bottom: -18px;
                    left: 13px;
                    color: $redColor;
                }
            }
            .input-container {
                .select-box {
                    display: block;
                    width: 243px;
                }
            }

            > span {
                &:first-child {
                    display: inline-block;
                    width: 60px;
                    text-align: right;
                    margin-right: 5px;
                    color: #666666;
                    font-size: 14px;
                }
            }
            span.input-error{
                padding-left: 14px;
            }
            .input {
                width: 217px;
            }
            .input-error {
                bottom: -17px;
                font-size: 12px;
            }
            &.checked-tree {
                margin-right: 0;
                .input-container .required-content {
                    div {
                        display: inline-block;
                        width: 547px;
                        padding-left: 6px;
                        height: 34px;
                        line-height: 35px;
                        font-size: 14px;
                        border: 1px solid #CCDDEE;
                        border-radius: 4px;
                        vertical-align: middle;
                        cursor: pointer;
                        &:hover {
                            border-color: #4499EE;
                            & + .jt {
                                color: #4499EE;
                            }
                        }
                    }

                    i.jt {
                        display: inline-block;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        color: #BBCCDD;
                        font-size: 12px;
                        transition: all 0.2s ease;
                        transform: rotate(0);
                        &.open {
                            transform: rotate(180deg);
                            color: #4499EE;
                        }
                    }

                    .disabled {
                        background: #F5F5F5;
                        border: 1px solid #E0E0E0;
                        color: #CCCCCC;
                        cursor: not-allowed;
                        &:hover {
                            border-color: #E0E0E0;
                            & + .jt {
                                color: #BBCCDD;
                            }
                        }
                    }
                }
            }
        }
    }
    .row {
        .tree-box {
            position: absolute;
            top: 40px;
            left: 10px;
            right: 0;
            height: 150px;
            overflow-y: auto;
            background: #fff;
            z-index: 9999;
            border: 1px solid #CCDDEE;
            box-shadow: 0 2px 2px 0 rgba(206, 211, 223, 0.6);
            border-radius: 4px;
        }
    }
}
