$borderColor: #CCDDEE;
$backgroundColor: #4499EE;
$borderRradius: 4px;
$transitionAll: all .3s cubic-bezier(.645, .045, .355, 1);
$textColor: rgba(0, 0, 0, .65);
$workflowTransitionAll: all 1s cubic-bezier(.645, .045, .355, 1);

$textLightColor: #CCCCCC;
$textDeepNormalColor: #999;
$textNormalColor: #666;
$textDeepColor: #333;
