@import 'assets/styles/variable.scss';
@import 'frontend-common/assets/styles/variable';

.container {
    position: fixed;
    left: $sidebarWidth;
    top: $headerHeight;
    bottom: 0;
    right: 0;
    transition: $transitionAll;
    &.min {
        left: $sidebarMinWidth;
    }
    &.normal {
        left: $sidebarWidth;
    }
    &.mixMax {
        left: $sidebarMinWidth + $sidebarWidth;
    }
    &.max {
        left: $sidebarMaxWidth;
    }
    >.content {
        min-width: $bodyMinWidth;
        height: 100%;
        position: relative;
        overflow-x: auto;
        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .target-table {
            width: 320px;
            background: #F5F5F5;
            border-right: 1px solid #CCDDEE;
            height: 100%;
            float: left;
            .header-container {
                padding: 16px 10px;
                .title {
                    font-size: 14px;
                    color: #666666;
                    letter-spacing: 0;
                    font-weight: 600;
                }
            }
            .select-list {
                li {
                    margin-bottom: 24px;
                    >span:first-child {
                        display:inline-block;
                        width: 118px;
                        text-align: right;
                        margin-right: 5px;
                        font-size: 14px;
                        color: #666666;
                        letter-spacing: 1px;
                    }
                    .input-container {
                        width: calc(100% - 132px);
                        vertical-align: middle;
                        position: relative;
                        .required-content {
                            width: 100%;
                            padding-right: 10px;
                            padding-left: 15px;
                        }
                        .required-red {
                            margin-top: -9px;
                        }
                        .input {
                            width: 162px;
                            height: 36px;
                            padding-left: 13px;
                        }
                        .input-error {
                            font-size: 12px;
                            left: 15px;
                            bottom: -17px;
                        }
                    }
                }
            }
            .tables {
                width: 100%;
                height: calc(100% - 416px);
                margin-top: 20px;
                .tables-title {
                    font-size: 14px;
                    color: #666666;
                    letter-spacing: 1px;
                    .tab {
                        height: 32px;
                        border-bottom: 1px solid #CCDDEE;
                        padding-left: 18px;
                        span {
                            float: left;
                            width: 100px;
                            line-height: 30px;
                            text-align: center;
                            color: #666;
                            border-top: 2px solid transparent;
                            cursor: pointer;
                            &.checked {
                                background: #fff;
                                border-color: #4499EE;
                                color: #333333;
                                border-left: 1px solid #CCDDEE;
                                border-right: 1px solid #CCDDEE;
                            }
                        }
                    }
                }
                ul {
                    background: #fff;
                    width: auto;
                    height: calc(100% - 30px);
                    overflow-y: auto;
                    li {
                        float: left;
                        margin-left: 14px;
                        margin-top: 14px;
                    }
                }

            }
        }
        .field-message{
            width: calc(100% - 320px);
            height: 100%;
            float: left;
            position: relative;
            background: #fff;
            .header-container {
                position: absolute;
                left: 20px;
                top: 14px;
                z-index: 999;
                button {
                    margin-left: 12px;
                }
            }
            .icon-ico_narrow, .icon-ico_enlarge {
                position: absolute;
                right: 20px;
                top: 14px;
                font-size: 16px;
                z-index: 999;
                cursor: pointer;
                color: #666;
            }
            .icon-ico_narrow {
                right: 88px;
            }
        }
    }
}

.drag-target-container {
    overflow: hidden;
    position: relative;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    .drag-target {
        background: #fff;
    }

    .drag-view {
        position: absolute;
        right: 46px;
        top: 16px;
        font-size: 12px;
        color: #666;
    }

}
