<div class="container" [style.padding]="type === 'changePwd' ? '25px 0' : 0">
    <div class="row clearfix" *ngIf="type === 'changePwd'">
        <ul>
            <li>
                <span>旧密码</span>
                <span class="input-container">
                    <span class="required-content">
                        <i class="required-red">*</i>
                        <input type="password" class="input" [(ngModel)]="oldPassword" minlength="6" maxlength="20" [class.error]="errorType===1"  placeholder="输入旧密码">
                        <span class="input-error" *ngIf="errorType === 1">{{error}}</span>
                    </span>
                </span>
            </li>
            <li>
                <span class="title">新密码</span>
                <span class="input-container ">
                    <span class="required-content">
                        <i class="required-red">*</i>
                        <span class="required-label" *ngIf="errorType===2">{{error}}</span>
                        <input type="password" class="input"  [(ngModel)]="newPassword" maxlength="20"  [class.error]="errorType===2" placeholder="输入新密码" >
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <div class="row clearfix" *ngIf="type === 'changePwd'">
        <ul>
            <li>
                <span>再次确认</span>
                <span class="input-container">
                    <span class="required-content">
                        <i class="required-red">*</i>
                        <input type="password" class="input" [(ngModel)]="secondPassword" minlength="6" maxlength="20" [class.error]="errorType===3"  placeholder="再次输入新密码">
                        <span class="input-error" *ngIf="errorType === 3">{{error}}</span>
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <div class="task-panel-title clearfix" *ngIf="type === 'passwordService'">
        <div class="tab">
            <span [class.checked]="triggerTab==='0'" (click)="togglePanelTab('0')">密码加密</span>
            <span [class.checked]="triggerTab==='1'" (click)="togglePanelTab('1')">密码解密</span>
        </div>
    </div>
    <div class="row clearfix" *ngIf="type === 'passwordService'">
        <ul>
            <li *ngIf="triggerTab==='0'">
                <span class="title">原始密码</span>
                <span class="input-container ">
                    <span class="required-content">
                        <i class="required-red">*</i>
                        <span class="required-label" *ngIf="errorType===3">{{error}}</span>
                        <input class="input"  [(ngModel)]="encryptPwd" maxlength="20"  [class.error]="errorType===3" placeholder="输入原始密码" >
                        <span class="required-label" *ngIf="showEncryptPwd" style="width: 200%;">加密后密码为:{{encryptInterfacePwd}}</span>
                    </span>
                </span>
            </li>
            <li *ngIf="triggerTab==='1'">
                <span class="title">原始密码</span>
                <span class="input-container ">
                    <span class="required-content">
                        <i class="required-red">*</i>
                        <span class="required-label" *ngIf="errorType===4">{{error}}</span>
                        <input class="input"  [(ngModel)]="decryptPwd" maxlength="50"  [class.error]="errorType===4" placeholder="输入原始密码" >
                        <span class="required-label" *ngIf="showDecryptPwd" style="width: 200%;">解密后密码为:{{decryptInterfacePwd}}</span>
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>
