<div class="container">
    <div class="tree-container">
        <!--<div class="search-box">-->
            <!--<span class="pl3 pr3 new-folder" [tooltip]="'新增文件夹'" (click)="addDirectory()">-->
                <!--<i class="iconfont icon-ico_folder_add"></i>-->
            <!--</span>-->
            <!--<span class="input-icon" position="left">-->
                <!--<input type="text"-->
                       <!--class="input"-->
                       <!--size="small"-->
                       <!--placeholder="搜索文件夹"-->
                       <!--[(ngModel)] = "search"-->
                       <!--(keyup.enter)="searchClick()"-->
                       <!--&gt;-->
                <!--<span class="iconfont icon-ico_search_textfield"></span>-->
            <!--</span>-->
        <!--</div>-->
        <div class="inner clearfix">
            <governance-catalog-tree-component
                [list]="flows"
                [type]="flowType"
            ></governance-catalog-tree-component>

        </div>
    </div>
</div>
