$column: 12;
$unit: 1px;

$phone-width-max: 480;
$tablet-width-max: 768;
$desktop-width-max: 992;
$lg-desktop-width-max: 1200;

$phone-name: 'xs';
$tablet-name: 'sm';
$desktop-name: 'md';
$lg-desktop-name: 'lg';

$names: (
    $phone-name,
    $tablet-name,
    $desktop-name,
    $lg-desktop-name
);

.row {
    position: relative;
    height: auto;
    zoom: 1;
    display: block;
    &:after, &:before {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
    }

    %extend-col {
        float: left;
        position: relative;
        flex: 0 0 auto;
    }
    @for $i from 1 through $column {
        .col-#{$i} {
            @extend %extend-col; // copy class
        }
        .col-#{$i} {
            width: percentage($i / $column);
        }
        @for $j from 1 through length($names) {
            .col-#{nth($names, $j)}-#{$i} {
                @extend %extend-col;
            }
        }
    }
    @for $i from 1 through $column {
        @media screen and (max-width: #{$tablet-width-max - 1}px) {
            .col-#{$phone-name}-#{$i} {
                width: percentage($i / $column);
            }
        }
    }
    @for $i from 1 through $column {
        @media screen and (min-width: #{$tablet-width-max}px) {
            .col-#{$tablet-name}-#{$i} {
                width: percentage($i / $column);
            }
        }
    }
    @for $i from 1 through $column {
        @media screen and (min-width: #{$desktop-width-max}px)  {
            .col-#{$desktop-name}-#{$i} {
                width: percentage($i / $column);
            }
        }
    }
    @for $i from 1 through $column {
        @media screen and (min-width: #{$lg-desktop-width-max}px) {
            .col-#{$lg-desktop-name}-#{$i} {
                width: percentage($i / $column);
            }
        }
    }
}
