body.logo_wcqk {
    .header_logo {
        background: url('/frontend-common/assets/images/header_wcqk_logo.png') no-repeat left center scroll;
    }
    .login_logo {
        background: url('/frontend-common/assets/images/login_wcqk_logo.png') no-repeat center scroll;
    }
    .home-left-logo {
        background: #02184C url('/frontend-common/assets/images/login_wcqk_logo.png') no-repeat left bottom;
        background-size: 100%;
    }
}

body.logo_fly {
    .header_logo {
        background: url('/frontend-common/assets/images/header_fly_logo.png') no-repeat left center scroll;
    }
    .login_logo {
        background: url('/frontend-common/assets/images/login_fly_logo.png') no-repeat center scroll;
    }
    .home-left-logo {
        background: #02184C url('/frontend-common/assets/images/login_fly_logo.png') no-repeat left bottom;
        background-size: 100%;
    }
}

body.logo_zgdx {
    .header_logo {
        background: url('/frontend-common/assets/images/header_zgdx_logo.png') no-repeat left center scroll;
    }
    .login_logo {
        background: url('/frontend-common/assets/images/login_zgdx_logo.png') no-repeat center scroll;
    }
}
body.logo_hs {
    .header_logo {
        background: url('/frontend-common/assets/images/header_hs_logo.png') no-repeat 20px center scroll;
        background-size: 100px 40px;
    }
    .login_logo {
        background: url('/frontend-common/assets/images/login_hs_logo.png') no-repeat center scroll;
        background-size: 100px 40px;
    }
}
body.logo_cetc {
    .header_logo {
        background: url('/frontend-common/assets/images/header_cetc_logo.jpg') no-repeat 32px 5px scroll;
        background-size: 60%;
    }
    .login_logo {
        background: url('/frontend-common/assets/images/login_cetc_logo.png') no-repeat center scroll;
        //background-size: 100px 40px;
    }
}
