<!--配置调度 start-->
<div class="panel-container" *ngIf="checkedTask" (click)="panelBackgroundClick($event)">
    <div class="panel" [class.show]="showPanel">
        <div class="item">
            <div class="item-title">
                <iconfont-component [name]="'ico_info'"></iconfont-component>
                <span>基本属性</span>
            </div>
            <div class="item-col info">
                <span>名称：</span>
                <span>{{checkedTask.flow.taskName}}</span>
            </div>
            <!--暂且注释责任人字段-->
            <!--<div class="item-col info">-->
                <!--<span>类型：</span>-->
                <!--<span>节点任务</span>-->
            <!--</div>-->
            <!--<div class="item-col info">-->
                <!--<span>目录：</span>-->
                <!--<span></span>-->
            <!--</div>-->
            <!--<div class="item-col info">-->
                <!--<span>描述：</span>-->
                <!--<span>{{checkedTask.flow.remark}}</span>-->
            <!--</div>-->
        </div>
        <div class="item">
            <div class="item-title">
                <iconfont-component [name]="'ico_plan'"></iconfont-component>
                <span>调度属性</span>
            </div>
            <div class="item-col line">
                <span class="s">频率</span>
                <span class="checked-select required-content">
                    <i class="required-red">*</i>
                    <select-component
                        [option]="checkedDispatch"
                        [options]="dispatchs"
                        (callback)="checkedDispatchCallback($event)"
                        [size]="'small'"></select-component>
                </span>
            </div>
            <div class="item-col line" *ngIf="checkedDispatch&&checkedDispatch.value==='week'">
                <span class="s">每周</span>
                <span class="checked-select required-content">
                    <i class="required-red">*</i>
                    <span class="required-label" *ngIf="errorType===5">请选择具体周</span>
                    <multi-select-component
                        [option]="checkedWeek"
                        [options]="weeks"
                        (callback)="checkedWeekCallback($event)"
                        [placeholder]="'选择周'"
                        [size]="'small'">
                    </multi-select-component>
                </span>
            </div>
            <div class="item-col line" *ngIf="checkedDispatch&&checkedDispatch.value==='month'">
                <span class="s">每月</span>
                <span class="checked-select required-content">
                    <i class="required-red">*</i>
                    <span class="required-label" *ngIf="errorType===6">请选择具体月</span>
                    <multi-select-component
                        [option]="checkedMonth"
                        [options]="months"
                        (callback)="checkedMonthCallback($event)"
                        [placeholder]="'选择月'"
                        [size]="'small'">
                    </multi-select-component>
                </span>
            </div>
            <div class="item-col" *ngIf="checkedDispatch&&(checkedDispatch.value==='day'||checkedDispatch.value==='week'||checkedDispatch.value==='month')">
                <span class="s">时间</span>
                <span class="line">
                    <span class="number required-content">
                        <i class="required-red">*</i>
                        <span class="required-label" *ngIf="errorType===3">选择小时</span>
                        <select-component
                            [option]="checkedHour"
                            [options]="hours"
                            (callback)="checkedHourCallback($event)"
                            [placeholder]="'小时'"
                            [size]="'small'"></select-component>
                    </span>
                    <span class="desc">时</span>
                    <span class="number required-content">
                        <i class="required-red">*</i>
                        <span class="required-label" *ngIf="errorType===4">选择分钟</span>
                        <select-component
                            [option]="checkedMinute"
                            [options]="minutes"
                            (callback)="checkedMinuteCallback($event)"
                            [placeholder]="'分钟'"
                            [size]="'small'"></select-component>
                    </span>
                    <span class="desc">分</span>
                </span>
            </div>
            <div class="item-col" *ngIf="checkedDispatch&&(checkedDispatch.value==='minute'||checkedDispatch.value==='hour')">
                <span class="s">开始</span>
                <span class="line">
                    <span class="number required-content">
                        <i class="required-red">*</i>
                        <span class="required-label" *ngIf="errorType===7">选择小时</span>
                        <select-component
                            [option]="checkedStartHour"
                            [options]="startHours"
                            (callback)="checkedStartHourCallback($event)"
                            [placeholder]="'小时'"
                            [size]="'small'"></select-component>
                    </span>
                    <span class="desc">时</span>
                    <span class="number required-content">
                        <i class="required-red">*</i>
                        <select-component
                            [option]="checkedStartMinute"
                            [options]="startMinutes"
                            [disabled]="true"
                            [placeholder]="'分钟'"
                            [size]="'small'"></select-component>
                    </span>
                    <span class="desc">分</span>
                </span>
            </div>
            <div class="item-col" *ngIf="checkedDispatch&&(checkedDispatch.value==='minute'||checkedDispatch.value==='hour')">
                <span class="s">结束</span>
                <span class="line">
                    <span class="number required-content">
                        <i class="required-red">*</i>
                        <span class="required-label" *ngIf="errorType===8">选择小时</span>
                        <select-component
                            [option]="checkedEndHour"
                            [options]="endHours"
                            (callback)="checkedEndHourCallback($event)"
                            [placeholder]="'小时'"
                            [size]="'small'"></select-component>
                    </span>
                    <span class="desc">时</span>
                    <span class="number required-content">
                        <i class="required-red">*</i>
                        <select-component
                            [option]="checkedEndMinute"
                            [options]="endMinutes"
                            [disabled]="true"
                            [placeholder]="'分钟'"
                            [size]="'small'"></select-component>
                    </span>
                    <span class="desc">分</span>
                </span>
            </div>
            <div class="item-col" *ngIf="checkedDispatch&&checkedDispatch.value==='minute'">
                <span class="s">间隔</span>
                <span class="line">
                    <span class="checked-select required-content">
                        <i class="required-red">*</i>
                        <span class="required-label" *ngIf="errorType===9">请选择间隔时间</span>
                        <select-component
                            [option]="checkedIntervalMinute"
                            [options]="intervalMinutes"
                            (callback)="checkedIntervalMinuteCallback($event)"
                            [placeholder]="'间隔时间'"
                            [size]="'small'"></select-component>
                    </span>
                </span>
            </div>
            <div class="item-col" *ngIf="checkedDispatch&&checkedDispatch.value==='hour'">
                <span class="s">间隔</span>
                <span class="line ">
                    <span class="checked-select required-content">
                        <i class="required-red">*</i>
                        <span class="required-label" *ngIf="errorType===10">请选择间隔时间</span>
                        <select-component
                            [option]="checkedIntervalHour"
                            [options]="intervalHours"
                            (callback)="checkedIntervalHourCallback($event)"
                            [placeholder]="'间隔时间'"
                            [size]="'small'"></select-component>
                    </span>
                </span>
            </div>
            <div class="item-col" *ngIf="checkedDispatch&&checkedDispatch.value==='moment'">
                <span class="s">日期</span>
                <span class="checked-select required-content">
                    <i class="required-red">*</i>
                    <span class="required-label" *ngIf="errorType===11">请选择具体日期</span>
                    <input type="text"
                           class="input moment"
                           size="small"
                           placeholder="日期"
                           datepicker
                           [options]="datepickerOptions"
                           [(ngModel)]="givenTime"
                           (okCallback)="markupUpdating()">
                </span>
            </div>
        </div>
    </div>
    <div class="panel-btns">
        <span class="panel-btn" [class.checked]="showPanel" (click)="showPanelClick($event)">调度配置</span>
    </div>
</div>
<!--配置调度 end-->
