<div class="container">
    <div class="header-container">
        <ul class="clearfix">
            <li (click)="triggerTaskClick($event)" authority="workflow.work.trigger">
                <i class="iconfont icon-ico_trigger"></i>
                <span>触发器</span>
            </li>
            <li (click)="activateWorkflow()" *ngIf="checkedTask && checkedTask.flowInfo && checkedTask.flowInfo.flow['enabled'] === 0" authority="workflow.work.save">
                <i class="iconfont icon-ico_btn_object"></i>
                <span>激活</span>
            </li>
            <li (click)="saveTaskClick($event)" authority="workflow.work.save">
                <i class="iconfont icon-ico_save"></i>
                <span>保存</span>
            </li>
            <li (click)="runWorkflow()" authority="workflow.work.run">
                <i class="iconfont icon-ico_run"></i>
                <span>立即运行</span>
            </li>
        </ul>
    </div>

    <!-- 可以添加顶部的tab选项卡 -->
    <div class="tabbar" *ngIf="tasks&&tasks.length">
        <ul class="clearfix">
            <li *ngFor="let task of tasks; let i = index;"
                (click)="toggleCheckedTask(task)"
                [class.checked]="task.checked">
                <i class="iconfont icon-ico_task_work_flow icon-project-work"></i>
                <span class="text-overflow" [title]="task.workflow.name">{{task.workflow.name}}</span>
                <i class="iconfont icon-delete icon-ico_tab_close" (click)="deleteByTask(task, i)" *ngIf="!task.updating"></i>
                <i class="iconfont icon-delete updating" (click)="deleteByTask(task, i, true)" *ngIf="task.updating"></i>
            </li>
        </ul>
    </div>

    <!--可以下穿显示的内容内容 start-->
    <div class="task-items-content">
        <div *ngFor="let task of tasks" [class.hidden]="!task.checked">
            <div #taskItems></div>
        </div>
    </div>
    <!--内容 end-->

    <!-- 实时运行日志 -->
    <div class="runlog" [@slideBottom] *ngIf="showRunLog">
        <div class="log-header clearfix">
            <span class="lf">运行日志</span>
            <i class="iconfont icon-ico_tab_close" (click)="closeLogPanel()"></i>
        </div>
        <ul>
            <li *ngFor="let log of logs">{{log}}</li>
            <!--<li *ngIf="noLog">暂无数据...</li>-->
        </ul>
    </div>
</div>
