@import 'assets/styles/variable.scss';
@import 'frontend-common/assets/styles/variable';

.container {
    position: fixed;
    left: $sidebarWidth;
    top: $headerHeight;
    bottom: 0;
    right: 0;
    transition: $transitionAll;

    &.min {
        left: $sidebarMinWidth;
    }
    &.normal {
        left: $sidebarWidth;
    }
    &.mixMax {
        left: $sidebarMinWidth + $sidebarWidth;
    }
    &.max {
        left: $sidebarMaxWidth;
    }

    .inner {
        min-width: $bodyMinWidth;
        height: 100%;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .aside {
        width: $configTreeWidth;
        height: 100%;
        display: inline-block;
        float: left;
        border-right: 1px solid $borderColor;
    }
    .content {
        margin-left: $configTreeWidth;
        height: 100%;
        overflow: hidden;
    }
}
