/**
 *  该样式需要在 frontent-common/assets/styles/all.scss 里注册
 */

$backgroundColor: rgba(0, 0, 0, .5);

@keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    50% {
        opacity: .5; /*中间状态 透明度为0*/
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}
.tooltip-container {
    display: inline-block;
    background: $backgroundColor;
    color: #fff;
    border-radius: 3px;
    padding: 5px 15px;
    position: absolute;
    animation-name: fadeIn; /*动画名称*/
    animation-duration: .3s; /*动画持续时间*/
    animation-iteration-count: 1; /*动画次数*/
    animation-delay: 0s; /*延迟时间*/
    z-index: 100;
    &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
    }
    &.bottom {
        &:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $backgroundColor;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }
    &.top {
        &:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $backgroundColor;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &.right {
        &:after {
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 5px solid $backgroundColor;
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
        }
    }
    &.left {
        &:after {
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid $backgroundColor;
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
        }
    }
}
