.container {
    width: 700px;
    height: 400px;
    overflow-y: auto;
    padding: 10px 0;
    ul {
        li {
            float: left;
            width: 33.3%;
            line-height: 34px;
            font-size: 14px;
            letter-spacing: 1px;
        }
    }
    ul.filter {
        li {
            width: 180px;
        }
        li:first-child {
            width: auto;
        }
    }
}
:host ::ng-deep table-component div.container {
    padding: 10px 0 !important;
}
