@import 'frontend-common/assets/styles/variable.scss';

$itemBasicWidth: 40px;

.datepicker {
    position: absolute;
    width: 280px;
    //height: 208px;
    height: 0;
    border: 1px solid $borderColor;
    background: #fff;
    z-index: 99999999;
    user-select: none;
    padding: 5px;
    color: $textNormalColor;
    border-radius: $borderRradius;
    transition: height 0.2s ease;
    overflow: hidden;
    // 高度动态写入了
    //&.tool {
    //    height: 250px;
    //}
    &.left, &.right {
        &:before, &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
        }
        &:before {
            border-bottom: 10px solid $borderColor;
            top: -10px;
        }
        &:after {
            border-bottom: 10px solid #fff;
            top: -8px;
        }
    }
    &.left {
        &:before, &:after {
            left: 15px;
        }
    }
    &.right {
        &:before, &:after {
            right: 15px;
        }
    }
    .view {
        display: none;
        height: 100%;
        &.show {
            display: block;
        }
        .title {
            text-align: center;
            padding: 5px 0;
            .left {
                float: left;
            }
            .right {
                float: right;
            }
            .arror {
                color: $textDeepNormalColor;
            }
            .iconfont {
                cursor: default;
                //width: 16px;
                //display: inline-block;
                &:hover {
                    color: $backgroundColor;
                }
            }
        }
        .week {
            overflow: hidden;
            padding: 4px 0;
            span {
                width: $itemBasicWidth;
                display: inline-block;
                text-align: center;
                float: left;
            }
        }
        .date {
            .day {
                width: $itemBasicWidth;
                display: inline-block;
                text-align: center;
                float: left;
                &.checked {
                    span {
                        background: #108ee9;
                        color: #fff;
                        &:hover {
                            background: #108ee9;
                        }
                    }
                }
                &.disabled {
                    span {
                        color: #CCCCCC;
                    }
                }
                &.now {
                    span {
                        border-color: #108ee9;
                    }
                }
                span {
                    width: 18px;
                    height: 18px;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background 0.3s ease;
                    margin-bottom: 5px;
                    &:hover {
                        background: #DDEEFF;
                        cursor: pointer
                    }
                }
            }
        }
        .tool {
            line-height: 44px;
            > div {
                display: inline-block;
                float: left;
                text-align: center;
            }
            &.one {
                > div {
                    width: 100%;
                }
            }
            &.two {
                > div {
                    width: 49%;
                }
            }
            &.three {
                > div {
                    width: 33%;
                }
            }
            &.four {
                > div {
                    width: 24.7%;
                }
            }
        }
        .month, .year {
            .item {
                width: 101px;
                float: left;
                display: inline-block;
                text-align: center;
                padding: 7px 0;
                &.checked {
                    span {
                        background: #108ee9;
                        color: #fff;
                        &:hover {
                            background: #108ee9;
                        }
                    }
                }
                span {
                    padding: 5px 10px;
                    width: 50px;
                    border-radius: 3px;
                    display: inline-block;
                    transition: background 0.3s ease;
                    background: transparent;
                    &:hover {
                        background: #ecf6fd;
                        cursor: pointer
                    }
                }
            }
        }

        .moment {
            height: calc(100% - 40px);
            width: 100%;
        }
        .hour, .minute, .second {
            width: 33.33%;
            height: 100%;
            float: left;
            position: relative;
            .scroll {
                width: 100%;
                height: 100%;
                overflow: hidden;
                .scroll-inner {
                    position: relative;
                }
            }
            .t {
                line-height: 26px;
                text-align: center;
                width: 100%;
                display: inline-block;
                span {
                    width: 26px;
                    height: 26px;
                    display: inline-block;
                    cursor: pointer;
                    border-radius: 100%;
                    transition: $transitionAll;
                    &.checked {
                        background: $backgroundColor;
                        color: #fff;
                    }
                    &:hover {
                        background: #DDEEFF;
                    }
                }
            }
            .slider {
                position: absolute;
                width: 1px;
                height: 100%;
                right: 7px;
                top: 0;
                background: #E3F1FF;
                opacity: 0;
                transition: opacity 0.3s ease;
                &.show {
                    opacity: 1;
                }
                > span {
                    width: 14px;
                    height: 26px;
                    background: #A3D1FF;
                    border-radius: 4px;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: -7px;
                    cursor: move;
                    &.active {
                        background: #4499EE;
                    }
                    > i {
                        display: inline-block;
                        width: 6px;
                        height: 1px;
                        position: absolute;
                        top: 50%;
                        background: #fff;
                        left: 4px;
                        &:after, &:before {
                            content: '';
                            display: inline-block;
                            width: 6px;
                            height: 1px;
                            position: absolute;
                            background: #fff;
                            left: 0;
                        }
                        &:after {
                            top: -3px;
                        }
                        &:before {
                            bottom: -3px;
                        }
                    }
                }
            }
        }
    }
}
