$bodyMinWidth: 1200px;
$bodyInnerMinWidth: 1100px;
//$bodyBackground: #E6E4E4;
$bodyBackground: #fff;

$headerHeight: 60px;
$headerBackground: rgb(1, 36, 110);
$headerBackgroundHome: rgba(1, 36, 110, .8);
$naviCheckedBackground: #030e51;

$sidebarMaxWidth: 400px;
$sidebarWidth: 180px;
$sidebarMinWidth: 56px;
$sidebarBackground: #032565;
$sidebarCheckedBackground: #030e51;

$redColor: #FF3333;

$configTreeWidth: 280px;

// 任务配置 部分颜色
$jsplumbFisrt: #33CCDD;
$jsplumbSecond: #10A6FE;
$jsplumbThird: #2357EB;
$jsplumbFourth: #FF7C5C;
