@import 'frontend-common/assets/styles/variable.scss';

$contentWidth: 1366px;

.ontainer {
    background: #F5F5F5;
    min-height: 100%;
    .title {
        line-height: 60px;
        background: #fff;
        .title-content {
            width: $contentWidth;
            margin: 0 auto;
        }
        .left {
            .iconfont {
                color: #4499EE;
            }
            span {
                font-size: 16px;
                color: $textNormalColor;
            }
        }
        .right {
            float: right;
        }
    }
    .content {
        width: $contentWidth;
        margin: 0 auto;
        .content-header {
            font-size: 14px;
            color: #666666;
            letter-spacing: 1px;
            margin-top: 12px;
            .left {
                float: left;
                padding: 10px 0;
                .apply {
                    display: inline-block;
                    > span {
                        display: inline-block;
                        width: 140px;
                    }
                }
                .service {
                    display: inline-block;
                    margin-left: 15px;
                    span {
                        padding: 2px 8px;
                        margin: 0 5px;
                        cursor: pointer;
                        &.checked {
                            color: #FFFFFF;
                            background: #4499EE;
                            border-radius: 4px;
                        }
                    }
                }
            }
            .right {
                float: right;
                min-width: 440px;
                padding: 10px 0;
                .input {
                    width: 248px;
                }
                .input-icon span{
                    position: absolute;
                    padding-right:0;
                    padding-left: 0;
                }
                span {
                    position: relative;
                    padding-right: 10px;
                    padding-left: 15px;
                    font-size: 14px;
                    color: #666666;
                    letter-spacing: 1px;

                    &:last-child {
                        padding-right: 15px;
                        display: inline-block;
                    }
                    .esc {
                        position: absolute;
                        right: 0;
                        width: 0;
                        height: 0;
                        top:-1px;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 10px solid #CCCCCC;
                        cursor: pointer;
                        transform: scale(1,0.6);
                        // transform-origin: bottom;
                        &.checked {
                            border-bottom: 10px solid #666666;
                        }
                    }
                    .desc {
                        position: absolute;
                        right: 0;
                        bottom: -1px;
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 10px solid #CCCCCC;
                        cursor: pointer;
                        transform: scale(1,0.6);
                        // transform-origin: top;
                        &.checked {
                            border-top: 10px solid #666666;
                        }
                    }
                }
            }
        }
        .content-list {
            width: 100%;
            ul li {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                padding: 20px;
                background: #FFFFFF;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
                margin-top: 10px;
                .left {
                    float: left;
                    width: calc(100% - 408px);
                    .li_top {
                        .iconfont {
                            font-size: 16px;
                            color: #666666;
                            letter-spacing: 1px;
                            &.start {
                                color: #00BD9C;
                            }
                            &.pause {
                                color: #FF9900;
                            }
                            &.failure {
                                color: #E94C36;
                            }
                        }
                        .li_title {
                            font-size: 16px;
                            color: #666666;
                            letter-spacing: 1px;
                            cursor: pointer;
                        }
                        .url {
                            font-size: 12px;
                            color: #999999;
                            letter-spacing: 1px;
                        }
                    }
                    .list_middle, .list_bottom {
                        margin-top: 10px;
                        > span {
                            font-size: 12px;
                            color: #999999;
                            letter-spacing: 1px;
                            margin-right: 8px;
                            .iconfont {
                                font-size: 14px;
                            }
                        }
                    }
                    .list_bottom {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .right {
                    float: right;
                    span {
                        font-size: 14px;
                        color: #4499EE;
                        letter-spacing: 1.17px;
                        margin-left: 15px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
// 按钮角上数字
.btn{
    position: relative;
    .icon-num{
        position: absolute;
        width:24px;
        height:24px;
        line-height: 24px;
        font-size: 12px;
        border-radius: 50%;
        background: #f00;
        color:#fff;
        font-style: normal;
        font-family: MicrosoftYaHei;
        //
        right:0;
        top:0;
        transform: translate(50%, -50%);
        // &.top-right{
        //     right:0;
        //     top:0;
        //     transform: translate(50%, -50%);
        // }
        &.top-left{
            left:0;
            top:0;
            transform: translate(-50%, -50%);
        }
    }
}
