@import 'assets/styles/global.scss';

.container {
    width: 700px;
    padding: 25px 0;
    font-size: 14px;
    .row {
        margin-bottom: 25px;
        li {
            display: inline-block;
            float: left;
            // 必填项设置
            .required-content {
                width: calc(100% - 10px);
                display: inline-block;
                padding-left: 10px;
                position: relative;
                .required-red {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -7px;
                    &.invisible {
                        visibility: hidden;
                    }
                }
                .required-label {
                    position: absolute;
                    bottom: -18px;
                    left: 13px;
                    color: $redColor;
                }
            }
            &:first-child {
                margin-right: 9px;
            }
            &.datasource-url-box {
                margin-right: 0;
            }
            .input-container {
                .input {
                    width: 202px;
                    &.datasource-url {
                        width: 548px;
                    }
                }

            }
            > span {
                >select-component {
                    width: 216px;
                    display: inline-block;
                }
                &:first-child {
                    display:inline-block;
                    width: 100px;
                    color: #666;
                    text-align: right;
                    margin-right: 3px;
                }
                &.source-type {
                    width: 228px;
                }
            }
        }
    }

    .btns {
        text-align: center;
        button {
            margin-right: 10px;
        }
    }
}
