@import 'assets/styles/variable.scss';
@import 'frontend-common/assets/styles/variable.scss';
.container {
    height: 100%;
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .left-tree {
        float: left;
        width: 282px;
        overflow: auto;
        height: 100%;
        padding: 5px 0 10px 0;
        border-right: 1px solid #CCDDEE;
        .tree-container {
            height: 100%;
            overflow: auto;
            .iconfont {
                color: #4499EE;
            }
        }
    }
    .right-table {
        padding: 10px 0;
        margin-left:10px;
        height: 100%;
        overflow: auto;
        > .search-bar {
            padding-left: 20px;
        }
    }
}
