@font-face {
    font-family: "iosevka-extralight";
    src: url("iosevka-extralight.eot"); /* IE9 */
    src: url("iosevka-extralight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("iosevka-extralight.woff") format("woff"), /* chrome、firefox */
    url("iosevka-extralight.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("iosevka-extralight.svg#iosevka-extralight") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


