<div class="out-box" #container>
    <div class="content">
        <div class="row">
            <div class="col-6">
                <img src="assets/images/login_left.jpg">
            </div>
            <div class="col-6">
                <div class="logo login_logo"></div>
                <div class="row inner">
                    <div class="input-content required-content">

                        <!--这行代码是去除chrome表单的自动填充-->
                        <input type="password" style="display: none;"/>
                        <!--autocomplete="off" 也是为了防止表单自动填充-->
                        <input type="text" autocomplete="off" placeholder="输入用户名/电话/邮箱" [(ngModel)]="loginName" (keyup.enter)="login()">
                        <span class="required-label" *ngIf="errorType===1">{{error}}</span>
                    </div>
                    <div class="input-content required-content">
                        <input type="password" autocomplete="new-password" placeholder="输入密码" [(ngModel)]="password" (keyup.enter)="login()">
                        <span class="required-label" *ngIf="errorType===2">{{error}}</span>
                    </div>
                    <div class="input-content required-content code-box">
                        <input type="text" maxlength="6" placeholder="输入验证码" [(ngModel)]="verifyCode" (keyup.enter)="login()">
                        <div class="code-img-box">
                            <div>
                                <img [attr.src]="getImgSrc()" (click)="changeImgSrc()"/>
                            </div>
                            <p class="link" (click)="changeImgSrc()">看不清,换一张</p>
                        </div>
                        <span class="required-label" *ngIf="errorType===3">{{error}}</span>
                    </div>
                    <div class="remember-content">
                        <span class="checkbox line">
                            <input type="checkbox" id="remember" [(ngModel)]="remembered">
                            <label for="remember"></label>
                            <label for="remember">记住用户名</label>
                        </span>
                    </div>
                    <div class="login-content" [class.disabled]="submiting">
                        <button class="btn primary" (click)="login()">
                            <span *ngIf="!submiting">&nbsp;登&nbsp;&nbsp;录</span>
                            <span *ngIf="submiting">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                    <rect x="0" y="10" width="4" height="10" fill="#fff" opacity="0.2">
                                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
                                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                                    </rect>
                                    <rect x="8" y="10" width="4" height="10" fill="#fff"  opacity="0.2">
                                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                                    </rect>
                                    <rect x="16" y="10" width="4" height="10" fill="#fff"  opacity="0.2">
                                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                                    </rect>
                                  </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


