@import 'assets/styles/variable';
@import 'frontend-common/assets/styles/variable';

.container {
    width: 500px;
    padding: 25px 0;

    input[type='text'] {
        width: 300px;
    }
    .row {
        margin-bottom: 25px;
        ul li {
            float: inherit;
            display: block;
            margin-right: 0;
        }
    }
    >div {
        .item {
            display: inline-block;
            float: left;
            margin-right: 10px;
            .desc {
                width: 300px;
                height: 60px;
            }
            > span {
                &:first-child {
                    display:inline-block;
                    width: 100px;
                    text-align: right;
                    margin-right: 5px;
                    color: #666666;
                    font-size: 14px;
                }
                &.node-type {
                    width: 316px;
                }
            }
        }
        .taskStatus {
            margin-right: 10px;
            .radio {
                top: 2px;
            }
            .radio input[type='radio'] + label {
                padding: 5px;
            }

        }
    }

}

.tree-container {
    position: relative;
    display: inline-block;
    bottom: 0;
    .tree-inner {
        overflow: auto;
        display: inline-block;
        width: 314px;
        border: 1px solid $borderColor;
        border-top: 0;
        max-height: 200px;
        margin-left: 10px;
        .inner {
            width:auto;
            display: inline;
            min-width: 100%;
            white-space: nowrap;
        }
    }
    .tree-required {
        padding-left:10px;
        color: $redColor;
    }
}

