<div class="container">
    <div class="row clearfix">
        <ul>
            <li class="item">
                <span>名称</span>
                <span class="input-container node-type required-content">
                    <i class="required-red">*</i>
                    <span class="required-label" *ngIf="errorType===1">{{error}}</span>
                    <input type="text" class="input" [(ngModel)]="dircName" maxlength="20" placeholder="名称">
                </span>
            </li>
        </ul>
    </div>
    <div class="row clearfix">
        <ul>
            <li class="item">
                <span>类型</span>
                <span class="input-container node-type required-content">
                    <i class="required-red">*</i>
                    <select-component
                        [option]="menuType"
                        [options]="menuTypes"
                        (callback)="nodeTypeChecked($event)">
                    </select-component>
                </span>
            </li>
        </ul>
    </div>
    <div class="clearfix" >
        <ul>
            <li class="item">
                <span >选择目录</span>
                <span class="input-container node-type required-content">
                    <i class="required-red">*</i>
                    <input type="text" class="input" [(ngModel)]="dircPath" [disabled]="'true'" >
                </span>
            </li>
        </ul>
    </div>
    <div class="clearfix" >
        <ul>
            <li class="item">
                <span>&nbsp;</span>
                <div class="tree-container">
                    <div class="tree-inner">
                        <div class="inner">
                            <task-knowledge-tree-component
                                [menuList]="menuList"
                                [index]="menuIndex"
                                [type]="type">
                            </task-knowledge-tree-component>
                        </div>
                    </div>
                    <div class="tree-required" *ngIf="errorType===3"><span class="required-label">{{error}}</span></div>
                </div>
            </li>
        </ul>
    </div>
</div>
