<div class="container"
     [class.min]="leftState===1"
     [class.normal]="leftState===2"
     [class.mixMax]="leftState===3"
     [class.max]="leftState===4">
    <div class="content-container">
        <div class="aside">
            <div class="btn-group">
                <button class="btn primary" size="small" (click)="addDirectory()" authority="task.knowledge.addKnowledge">创建目录 / 知识表</button>
            </div>
            <task-knowledge-aside-component #aside></task-knowledge-aside-component>
        </div>
        <div class="content">
            <task-knowledge-content-component></task-knowledge-content-component>
        </div>
    </div>
</div>
