@import 'frontend-common/assets/styles/variable.scss';

.app-modal-alert-container {
    width: 260px;
    position: fixed;
    right: 200px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    transition: all 0.3s ease;
    z-index: 99999999;
    opacity: 0;
    .app-modal-alert-content-box {
        padding: 10px 20px 10px 10px;
        color: $textNormalColor;
        min-height: 40px;
        &.overflow {
            line-height: 40px;
        }
    }
    .title {
        line-height: 20px;
        color: $textDeepColor;
    }
    .icon-ico_tab_close {
        position: absolute;
        display: inline-block;
        right: 5px;
        top: 5px;
        font-size: 12px;
        transition: color 0.3s ease;
        color: rgba(0, 0, 0, 0.43);
        &:hover {
            color: rgba(0, 0, 0, 0.8);
        }
    }
}

