@import 'frontend-common/assets/styles/variable';

.app-modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    .app-modal-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(55, 55, 55,.65);
    }
    .app-modal-content {
        background: #fff;
        position: absolute;
        left: 50%;
        top: 15%;
        //transform: translate(-40%, -50%);
        border-radius: 2px;
        overflow: auto;
        > div {
            transform: none;
        }
    }
    .app-modal-content-title {
        line-height: 35px;
        padding: 5px 0;
        font-size: 15px;
        font-weight: 600;
        color: #333;
        min-width: 500px;
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background: $borderColor;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .app-modal-content-title .title {
        margin-left: 10px;
    }
    .app-modal-content-title .close {
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        padding: 0 10px;
        height: 18px;
        line-height: 18px;
        cursor: pointer;
        font-size: 12px;
        transition: $transitionAll;
        &:hover {
            color: rgb(0 ,0 , 0);
        }
    }
    .app-modal-content-inner {
        overflow-x: hidden;
        overflow-y: auto;
        padding: 5px 0;
    }
    .app-modal-btns {
        padding: 10px;
        text-align: center;
        position: relative;
        button {
            margin-right: 10px;
        }
        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background: $borderColor;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
